<div class="form-group check_boxes optional task_targets">
  <span class="checkbox">
    <label>
      <input class="check_boxes optional" id="new_task_target_checkbox" name="task[new_target_checked]" type="checkbox" value="1">
    </label>
    <input name="task[new_target_description]" type="text">
  </span>
</div>
