<div class="form-group string">
  <input class="string form-control" placeholder="新增目标..." type="text" id="go_to_new_target">
</div>

<% if @targets.any? %>
  <table class="table table-bordered">
    <% @targets.each_with_index do |target, index| %>
      <tr>
        <td style="vertical-align: middle;">
          <%= link_to target.description, edit_target_path(target) %> <br />
          <% if 5- index > 0 %>
            <span style="color: #FF9900">
              <% (5 - index).times do %>
                ★
              <% end -%>
            </span>
          <% end -%>
        </td>
        <td style="vertical-align: middle;" class="text-center">
          <%= target.tasks_count %>
        </td>
      </tr>
    <% end -%>
  </table>
<% else %>
  <div class="text-center">
    <h3>想达成的目标是？</h3>
    <%= image_tag "write.png" %>
  </div>
<% end %>

<script type="text/javascript">
  $('#go_to_new_target').on('focus', function(){
    go_to("/targets/new");
  })
</script>
