<h1>目标列表</h1>

<% if @targets.any? %>
  <% @targets.each do |target| %>
    <div class="row show-grid">
      <div class="col-xs-9">
        <%= link_to target.description, target %>
      </div>
      <div class="col-xs-3">
        <%= target.tasks.count %>
      </div>
    </div>
  <% end -%>
<% else %>
  <h3>想达成的目标是？</h3>
<% end %>
<p>  </p>
<%= link_to '+ 点击添加', new_target_path, class: 'btn btn-primary btn-block' %>
