<form action="/targets/new" method="get" id="new_target">
  <div class="row">
    <div class="col-xs-9">
      <div class="form-group string">
        <input class="string form-control" placeholder="新增目标..." type="text" id="go_to_new_target" name="target[description]">
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-primary">
        希望实现这个目标
      </button>
    </div>
  </div>
</form>

<% if @targets.any? %>
  <table class="table table-bordered">
    <% @targets.each_with_index do |target, index| %>
      <tr>
        <td style="vertical-align: middle;">
          <%= link_to target.description, edit_target_path(target) %> <br />
          <% if 5- index > 0 %>
            <span style="color: #FF9900">
              <% (5 - index).times do %>
                ★
              <% end -%>
            </span>
          <% end -%>
        </td>
        <td style="vertical-align: middle;" class="text-center">
          <%= target.tasks_count %>
        </td>
      </tr>
    <% end -%>
  </table>
<% else %>
  <div class="text-center">
    <h3>想达成的目标是？</h3>
    <%= image_tag "write.png" %>
  </div>
<% end %>
