<h1><%= @target.description %></h1>

<div class="row show-grid">
  <% @target.tasks.each do |task| %>
    <div class="col-xs-12">
      <%= task.description %>
    </div>
  <% end -%>
</div>

<p>  </p>

<%= link_to '修改', edit_target_path(@target), class: 'btn btn-primary btn-block' %>
