<form action="/tasks/new" method="get" id="new_task">
  <div class="row">
    <div class="col-xs-10">
      <div class="form-group string">
        <input class="string form-control" name="task[description]" placeholder="记录今天搞定的任务..." type="text" id="go_to_new_task">
      </div>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-primary">
        搞定了
      </button>
    </div>
  </div>
</form>

<% if @tasks.any? %>
  <% @tasks.group_by{|t| t.finished_at.strftime("%Y-%m-%d")}.each do |date, tasks| %>
    <div>
      <% if date == Time.now.strftime("%Y-%m-%d") %>
        <h4> 今天 </h3>
      <% elsif date == 1.day.ago.strftime("%Y-%m-%d") %>
        <h4> 昨天 </h3>
      <% else %>
        <h4> <%= date %> </h3>
      <% end -%>
      <ul>
        <% tasks.each do |task| %>
          <li>
            <%= link_to task.description, edit_task_path(task) %>
          </li>
        <% end -%>
      </ul>
    <% end -%>
  </div>
<% else %>
  <div class="text-center">
    <h3>今天搞定了哪些任务？</h3>
    <%= image_tag "write.png" %>
  </div>
<% end %>
